[submodule "ethzasl_icp"]
	path = ethzasl_icp
	url = https://github.com/koide3/ethzasl_icp_mapping_docker
[submodule "hdl_graph_slam"]
	path = hdl_graph_slam
	url = https://github.com/koide3/hdl_graph_slam
[submodule "lego_loam"]
	path = lego_loam
	url = https://github.com/koide3/LeGO-LOAM-BOR
[submodule "loam"]
	path = loam
	url = https://github.com/koide3/loam_velodyne.git
